.home-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.home-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.home-content h1 {
  font-size: 70px;
}

.flag-container {
  display: flex;
  gap: 0.5rem;
}
.flag-content {
  border: solid 1px var(--color-black);
}
